/* You can add global styles to this file, and also import other style files */

 .custom-modal-content {
    top: 40% !important;
    width: 50% !important;
    margin: auto !important;
    text-align: center !important;
    color: black !important;
    padding: 20px !important;
    border: 1px solid #888 !important;
  }

  .close {
      width: 5%;
  }